<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1><centre>Welcome to Market Place...</centre></h1>
        <div>
            To Login &nbsp;<a href="/login" class="badge badge-primary">Login</a>
            </br>
            To View Products&nbsp;<a href="/products" class="badge badge-primary">Products</a>
            </div>
            To Add Product&nbsp;<a href="/products/add" class="badge badge-primary">Add Product</a>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>